<!doctype html>
<html ng-app="purchaseApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
<div class="page-header">
    <h1> Список покупок </h1>
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" ng-model="text" placeholder = "Название" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="number" class="form-control" ng-model="price" placeholder="Цена"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" >Добавить</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Цена</th>
            <th>Куплено</th>
        </tr>
        </thead>
        <tbody>
        <select ng-change="addIt(1,selected1)" ng-model="selected1">
            <option ng-repeat="item in items" ng-hide="checkIs(1,item)" >{{item.label}}</option>
        </select>
        <select ng-change="addIt(2,selected2)" ng-model="selected2">
            <option ng-repeat="item in items" ng-hide="checkIs(2,item)" >{{item.label}}</option>
        </select>
        <select ng-change="addIt(3,selected3)" ng-model="selected3">
            <option ng-repeat="item in items" ng-hide="checkIs(3,item)" >{{item.label}}</option>
        </select>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var purchaseApp = angular.module("purchaseApp", []);
    purchaseApp.controller("purchaseController", function ($scope) {
        $scope.ids = ["1","2"];
        $scope.items = [{
            id: 1,
            label: 'aLabel',
            subItem: {name: 'aSubItem'},
            show: -1
        }, {
            id: 2,
            label: 'bLabel',
            subItem: {name: 'bSubItem'},
            show: -1
        }, {
            id: 3,
            label: 'cLabel',
            subItem: {name: 'cSubItem'},
            show: -1
        }];
        $scope.items1 = [{
            id: 1,
            label: 'aLabel',
            subItem: {name: 'aSubItem'}
        }];
        $scope.addIt = function (num,selected) {
            //window.alert(angular.fromJson(selected).label);
            for (var i = 0; i < $scope.items.length; i++) {
                if ($scope.items[i].label == selected)
                {
                    $scope.items[i].show = num;
                    for (var j = 0; j < $scope.items.length; j++) {
                        if (i != j && $scope.items[j].show == num)
                        {
                            $scope.items[j].show = -1;
                        }
                        // ещё какие-то выражения
                    }
                }
                // ещё какие-то выражения
            }
            //$scope.items1.push(selected);

        }

        $scope.priorities = [false,true];
        $scope.checkIs = function (num,item) {

            ///window.alert("hello");
            var index = $scope.items.indexOf(item);
            if ($scope.items[index].show == num || $scope.items[index].show == -1)
            {
                //window.alert("hello");
                return false;
            }
            //window.alert($scope[index].label);
            return true;
        }
    });
</script>
</body>
</html>